@use "Global";


div[class^="tileDiv"]{
    display: flex;
}
#tileSquare{
    border-radius: 5%;
    position: relative;
    left: 1px;
    top: 1px;
}
#tileBackground{
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    display: block;
    border-radius: 5%;
    background-color: Global.$tileBackgroundColor;
}
#tileValue{
    position: relative;
    display: block;
    color: white;
    margin: 0;
    right: 2px;
    top: 80%;
    line-height: 0;

    font-size: 10pt;
    font-weight: bold;
    font-family: Roboto, serif;
}
#blankBackground{
    position: absolute;
    display:inline-block;
    width:32px;
    height:32px;
    margin-left: 8px;
    margin-top: 4px;
    background-color:white;
    border-radius: 50%;
    z-index: 1;
}
img{
    position: absolute;
    display:block;
}
#tileLetter{
    position: absolute;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 2px;
    text-align: center;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    font-family: Roboto, serif;
    z-index: 2;

}
