.moveHistoryDiv{
    width: 100%;
    height: 80%;
    overflow: hidden;
}

#moveHistoryList {
    list-style: none;
    padding: 0;
    max-height: 100%;
    overflow-y: scroll;
}

.moveHistoryEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.moveHistoryEntryName{
    width: 30%;
    margin: 0;
    font-weight: bold;
}

.moveString{
    width: 50%;
    margin: 0;
}

#scoreDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#moveScore, #totalScore{
    margin: 5px 0;
    font-weight: bold;
}

ul{
    padding:0px;
    max-height:100%;
    overflow-y: scroll;
}