.scoreDisplayDiv {
    display: flex;
    flex-direction: column;
    height: 10%;
    padding: 10px;
}

.playerScoreDiv {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#player1Name, #player2Name {
    margin: 0;
    font-weight: bold;
}

#player1Score, #player2Score {
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
}
